@font-face{
    font-family: "Smythe";
    src: url('Fonts/Smythe-Regular.ttf'), format('ttf');
}

body {
    margin: 0 auto;
    width: 600px;
    font-family: 'Smythe', sans-serif;
} 

header {
    background-image: url('./Images/header_img.png');
    background-size: cover;
    background-position: bottom;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 45px;
}

header h1, header p {
    margin: 0;
}

header h1{
    margin-bottom: 10px;
}

header p {
    font-size: 1.4rem;
}



header h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.menu-item {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 45px;
    border-bottom: 2px solid #D2D2D2;
}

.menu-item-description{
    padding-left: 31px;
}


.menu-item-description-left {
    display: flex;
}

.item-img {
    font-size: 4.875rem;
    margin: 0;
    width: 90px;
}

.menu-item-name{
    font-size: 1.75rem;
    margin-bottom: 10px;

}

.ingredients {
    color: #8B8B8B;
    margin-top: 0;
}

.menu-item-price-p {
    font-size: 1.25rem;
    margin-bottom: 50px;
}


.add-btn{
    align-self: flex-start;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    background-color: #FFF;
    font-size: 2.5rem;
    padding: 8px 19px;
}

.add-btn:hover{
    background-color: #DEDEDE;
}

.add-btn:active {
    background-color: #b1b1b1;
}